@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light */
  --primary-light: #FAF6FF;
  --background-light: #EAEAEA;
  --secondary-light: #28181F;
  --secondary-tint-light: #28181f80;
  --accent-light: #A59577;
  --header-main-light:#000000;
  --header-secondary-light:#FFFFFF;
  --text-main-light:#101010;
  --text-secondary-light:#ECECEC;
  --subtle-main-light:#00000080;
  --subtle-secondary-light:#ffffff80;

  /* Dark */
  --primary-dark: #252525;
  --background-dark: #151515;
  --secondary-dark: #273532;
  --secondary-tint-dark: #27353280;
  --accent-dark: #A59577;
  --header-main-dark:#FFFFFF;
  --header-secondary-dark:#FFFFFF;
  --text-main-dark:#F3F3F3;
  --text-secondary-dark:#F8F8F8;
  --subtle-main-dark:#ffffff80;
  --subtle-secondary-dark:#ffffff80;

  /* Static */
  --white: #ffffff;
  --black: #000000;
  --darken: #00000080;
  --lighten: #ffffff80;
  --boy: #677CC7;
  --girl: #DF81B4;
  --success: #4F8D44;
  --error: #dc3545;
  --warning: #ffc107;
}

.App{
  @apply min-h-screen;
  background-color: var(--background-light);
  transition: color 1s ease;
  transition: background-color 1s ease;
}

.App > *:not(nav-static){
  transition: color 1s ease;
  transition: background-color 1s ease;
}

.dark{
  background-color: var(--background-dark);
}

h1{
  font-size: 2.25rem;
  font-weight: bold;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
}

.important{ /* background only */
  font-size: 1rem;
}

.subtle{
  font-size: 0.75rem;
}

.text{
  font-size: 0.875rem;
}

.action{
  font-size: 1rem;
  font-weight: bold;
}

.primary-container{
  background-color: var(--primary-light);
}

.dark .primary-container{
  background-color: var(--primary-dark);
}

.button{
  background-color: var(--accent-light);
  color: var(--primary-light);
  border-radius: 5px;
  padding: 10px 30px;
}

.dark .button{
  background-color: var(--accent-dark);
  color: var(--primary-dark);
}

.mid-container{
  @apply flex;
  height: calc(100vh - 105px);
}

main{
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

main::-webkit-scrollbar {
  width: 2px;
}

.content-container{
  width: 100%;
  height:2000px;
  margin: auto;
}
.crow{
  width: 100%;
  display: flex;
  justify-content:center;
}

.c{
  height: 100%;
  width: 400px;
  margin: 0px 10px;
}

.primary-row{
  padding-left: 10%;
  padding-right: 10%;
  background-color: var(--primary-light);
  color: var(--text-main-light);
}

.secondary-row{
  padding-left: 10%;
  padding-right: 10%;
  background-color: var(--secondary-light);
  color: var(--text-secondary-light);
}

.dark .primary-row{
  background-color: var(--primary-dark);
  color: var(--text-main-dark);
}

.dark .secondary-row{
  background-color: var(--secondary-dark);
  color: var(--text-secondary-dark);
}

/*Alerts*/
.alert-success {
  background-color: var(--success-color);
  color: var(--primary-light);
}

.alert-error {
  background-color: var(--error-color);
  color: var(--primary-light);
}

.alert-warning {
  background-color: var(--warning-color);
  color: var(--primary-dark);
}

@media screen and (max-width: 768px) {
  .ghost-button{
    font-size: 2.5rem;
  }

  .content-type1{
    padding-left: 5%;
    padding-right: 5%;
  }

  .content-type2{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 400px) {
  .ghost-button{
    font-size: 2rem;
  }
}