.hero-container {
  height: 100%;
  min-height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.hero-overlay{
  background-color: var(--secondary-tint-light);
  color: var(--header-secondary-light);
  height: 200px;
  width: 100%;
}

.dark .hero-overlay{
  background-color: var(--secondary-tint-dark);
  color: var(--header-secondary-dark);
}